<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="/stylesheets/secondstyles.css">
</head>
<body>
    <div id="quote-container">
        <p class="quote-text"><%= quote.q %></p>
        <p class="quote-author">- <%= quote.a %></p>
    </div>
</body>
</html>